@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

*{
    margin:0;
    padding:0;
    font-family:"Montserrat", sans-serif ;
}

/* Body */

body{
    background-color: rgba(202, 212, 228, 0.966);
}

.navbar{
     width: 100%;
     position:fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     background-color: #ccc;
     text-shadow:1.5px 1.5px #333;
     font-size: 24px;
     font-weight: bold;

}

.navbar-brand{
  color: rgba(2, 80, 2, 0.836) !important;
  font-size: 24px;
}

.navbar-brand img{
    height: 73px;
}

h1{
  color: rgba(89, 89, 196, 0.911);
  text-align: center;
  padding: 30px;
  text-shadow: 2px 2px 0 wheat;
}

/*Banner Home*/
.banner {
  background-image: url(../img/monca.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 40px;
  text-align: center;
  min-height: 500px;
}

.banner .content {
  max-width: 800px;
  margin: 0 auto;
}

.banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.banner p {
  font-size: 20px;
  margin-bottom: 20px;
}

.banner .btn {
  display: inline-block;
  background-color: #e5ff00;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.banner .btn:hover {
  background-color: rgb(109, 128, 0);
}

/* Nosotros */
main {
  color: rgba(93, 93, 155, 0.911);
  text-align: center;
  padding: 30px;
  text-shadow: 2px 2px 0 wheat;
}

main h1{
  font-size: 2,5rem;
  margin-top: 40px;
  margin-bottom: 5px;
}

main h2{
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

 .carousel-item img{
  width: 30%;
  height: auto;
  margin: 0 auto;
  border-radius: 100px;
 }

 .carousel {
  margin: 0 auto;
  max-width: 30%;
 }

/*SERVICIOS*/
/*Jumbotron*/
.jumbotron{
    height: 600px;
    background-image: url(../img/arroyo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    position: relative;
}

h1 {
   margin-top: 70px;  
   text-align: center;
   font-size: 2.5 rem;
    padding: 20px;
    font-weight: bold;
    color:rgba(93, 93, 155, 0.911);
    margin-bottom: 0;  
}

p{
  text-align: center;
  font-size: 19px;
  text-shadow: 2px 2px  #333;
}

.btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
}

.servicios{
    height: 600px;
    background-image: url(../img/arroyoarbol.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

/* tarjeta servicios */
img {
  max-width: 80%;
  margin-top: 15px;
}

.card{
  max-width: 350px;
  background-color: rgb(162, 204, 212);
  border-radius: 8px;
  margin: 50px;
  box-shadow: 0 0 12px #d7d7d7;
}

header-card img{
  border-radius: 8px 8px 0 0;
  max-height: 200px;
  height: 200px;
  width: 100%;
}

.categoria-card{
  margin-top: 1rem;
}

.categoria-card span{
  background-color: #e5ff00;
  font-size: 20px;
  font-weight: bold;
  color:black;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.card footer{
  padding: 0 1 rem;
}

.card-wrap{
  display: flex;
  flex-flow: wrap;
}
/* Footer */
 .logo-footer {
   height: 90px;
   width: auto;
   display: block;
   margin: 0 auto;
 }

footer {
    margin: 20p;
    padding: 20px;
    border-top: 1px solid rgb(145, 88, 14);
    text-align: center;
}

footer a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    letter-spacing: 10px;
}



/* Iframe */

iframe {
    display: flex;
    margin: auto;
}

/* contacto*/


form{
    background-image: url(../img/camino.jpeg);
    background-position: center;
    margin-top: 0%;
    height: auto;
    margin: 0%;
    padding: 0%;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
textarea {
    display: block;
    width: 60%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

 .btnFormulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10;
 }

/*Diseño Responsivo*/
 /*tablet*/
 @media (min-width: 768px) and (max-width: 992px) {

  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-link {
    padding: 0.5rem;
  }
}
/*contacto*/
h1 {
  font-size: 28px;
}

.formulario label {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  text-align: right;
}

.formulario input[type="text"],
.formulario textarea {
  width: 65%;
  box-sizing: border-box;
}

.formulario .btnFormulario {
  width: 100%;
  margin-top: 10px;
}

/*movil*/
@media (max-width: 576px) {
  
  .banner .contenido h1 {
    font-size: 24px;
  }
  .banner .contenido p {
    font-size: 14px;
  }
}

h1 {
  font-size: 24px;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario textarea {
  width: 100%;
  box-sizing: border-box;
}

.formulario .btnFormulario {
  display: block;
  width: 100%;
  margin-top: 10px;
}

/* Escritorio */
@media (min-width: 992px) {
 
 /*Contacto*/
  h1 {
    font-size: 32px;
  }

  .formulario label {
    width: 20%;
    margin-right: 3%;
    text-align: right;
  }

  .formulario input[type="text"],
  .formulario textarea {
    width: 70%;
    box-sizing: border-box;
  }

  .formulario .btnFormulario {
    width: auto;
    margin-top: 0;
  }
}