*{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Body */

body{
    background-color: rgba(169, 199, 114, 0.966);
}

.navbar-brand img{
    height: 90px;
}

.jumbotron{
    height: 600px;
    background-image: url(../img/arroyo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}

h2{
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 5px #000;
    margin-bottom: 0;
}



.servicios{
    height: 600px;
    background-image: url(../img/arroyoarbol.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
}



.nleft{
    background-image:url(img/field-5326822_1280.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}

.nright{
    padding: 20px;
}

/*Banner*/
.banner {
    background-image: url('../img/pp.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .banner .content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .banner h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .banner .btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .banner .btn:hover {
    background-color: #ff944d;
  }


/* tarjeta servicios */
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  .card-content {
    padding: 10px;
  }
  .card-title {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  .card-description {
    font-size: 0.9em;
  }

/* Main */

main{
    margin:30px;
    padding:30px;
}

h1{
    text-align: left;
    margin: 20px 0px; 
}


/* Footer */

footer {
    margin: 20p;
    padding: 20px;
    border-top: 1px solid rgb(145, 88, 14);
    text-align: center;
}

footer a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    letter-spacing: 10px;
}

/* Nosotros */

.contenedorNosotros {
    margin: 20px;
    border: 4px solid black;
    border-radius: 10px;
}

.ImgNosotros{
    display: block;
    width: 100%;
    height: auto;
}


/* Iframe */

iframe {
    display: flex;
    margin: auto;
}

/* contacto*/


form{
    background-image: url(../img/camino.jpeg);
    background-position: center;
    margin-top: 0%;
    height: auto;
    margin: 0%;
    padding: 0%;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
textarea {
    display: block;
    width: 60%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

 .btnFormulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10;
 }

/*Diseño Responsivo*/
 /*tablet*/
 @media (min-width: 768px) and (max-width: 992px) {

  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-link {
    padding: 0.5rem;
  }
}
/*contacto*/
h1 {
  font-size: 28px;
}

.formulario label {
  display: inline-block;
  width: 30%;
  margin-right: 2%;
  text-align: right;
}

.formulario input[type="text"],
.formulario textarea {
  width: 65%;
  box-sizing: border-box;
}

.formulario .btnFormulario {
  width: 100%;
  margin-top: 10px;
}

/*movil*/
@media (max-width: 576px) {
  
  .banner .contenido h1 {
    font-size: 24px;
  }
  .banner .contenido p {
    font-size: 14px;
  }
}

h1 {
  font-size: 24px;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario textarea {
  width: 100%;
  box-sizing: border-box;
}

.formulario .btnFormulario {
  display: block;
  width: 100%;
  margin-top: 10px;
}

/* Escritorio */
@media (min-width: 992px) {
 
 /*Contacto*/
  h1 {
    font-size: 32px;
  }

  .formulario label {
    width: 20%;
    margin-right: 3%;
    text-align: right;
  }

  .formulario input[type="text"],
  .formulario textarea {
    width: 70%;
    box-sizing: border-box;
  }

  .formulario .btnFormulario {
    width: auto;
    margin-top: 0;
  }
}